# Python files
*.py
*.pyc
__pycache__/

# macOS files
.DS_Store
.AppleDouble
.LSOverride

# Backup files
*~
*.bak
*.swp

# Development files
index.dev.html
node_modules/
package-lock.json
